 <div class="row">
    <div class="col-5">
      <div class="row">
          <div class="col-12 mat-elevation-z8" style="background-color: red; height: 250px;">
              elkfjzklef
          </div>
        </div>
    </div>
     <div class="col-5">
        <div class="row">
          <div class="col-11 offset-1 mat-elevation-z8" style="background-color: red; height: 250px;">
              elkfjzklef
          </div>
        </div>
    </div>
      <div class="col-2">
              <div class="row">
          <div class="col-11 offset-1 mat-elevation-z8" style="background-color: red; height: 250px;">
              elkfjzklef
          </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-3">
      <div class="row">
          <div class="col-12 mat-elevation-z8" style="background-color: blue; height: 250px;">
              elkfjzklef
          </div>
        </div>
    </div>
     <div class="col-3">
        <div class="row">
          <div class="col-11 offset-1 mat-elevation-z8" style="background-color: blue; height: 250px;">
              elkfjzklef
          </div>
        </div>
    </div>
      <div class="col-2">
              <div class="row">
          <div class="col-11 offset-1 mat-elevation-z8" style="background-color: blue; height: 250px;">
              elkfjzklef
          </div>
        </div>
    </div>
    <div class="col-4">
              <div class="row">
          <div class="col-11 offset-1 mat-elevation-z8" style="background-color: blue; height: 250px;">
              elkfjzklef
          </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:20px;">
   <div class="col-12">
      <div class="row">
          <div class="col-12 mat-elevation-z8" style="background-color: green; height: 250px;">
              elkfjzklef
          </div>
        </div>
    </div>
</div>

 <div class="row" style="margin-top:20px">
    <div class="col-5">
      <div class="row">
          <div class="col-12 mat-elevation-z8" style="background-color: red; height: 250px;">
              elkfjzklef
          </div>
        </div>
    </div>
     <div class="col-5">
        <div class="row">
          <div class="col-11 offset-1 mat-elevation-z8" style="background-color: red; height: 250px;">
              elkfjzklef
          </div>
        </div>
    </div>
      <div class="col-2">
              <div class="row">
          <div class="col-11 offset-1 mat-elevation-z8" style="background-color: red; height: 250px;">
              elkfjzklef
          </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-3">
      <div class="row">
          <div class="col-12 mat-elevation-z8" style="background-color: blue; height: 250px;">
              elkfjzklef
          </div>
        </div>
    </div>
     <div class="col-3">
        <div class="row">
          <div class="col-11 offset-1 mat-elevation-z8" style="background-color: blue; height: 250px;">
              elkfjzklef
          </div>
        </div>
    </div>
      <div class="col-2">
              <div class="row">
          <div class="col-11 offset-1 mat-elevation-z8" style="background-color: blue; height: 250px;">
              elkfjzklef
          </div>
        </div>
    </div>
    <div class="col-4">
              <div class="row">
          <div class="col-11 offset-1 mat-elevation-z8" style="background-color: blue; height: 250px;">
              elkfjzklef
          </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:20px;margin-bottom: 20px;">
   <div class="col-12">
      <div class="row">
          <div class="col-12 mat-elevation-z8" style="background-color: green; height: 250px;">
              elkfjzklef
          </div>
        </div>
    </div>
</div>
