<div class="container-fluid header {{open_nav}}">
    <div class="row">
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="#">one</a></li>
          <li><a href="#">two</a></li>
          <li class="divider"></li>
          <li><a href="#">three</a></li>
        </ul>
        <nav>
          <div class="nav-wrapper z-depth-4">
            <a href="#" (click)="openNav();false" class="brand-logo">
              <img src="src/assets/img/hamburger.png" width="30" height="30" draggable="false"/>
            </a>
            <ul class="right hide-on-med-and-down">
            <li>
              <a>
                <div class="card-face__avatar_bis">
                      <span class="card-face__bullet_bis">25</span>
                    <!-- User avatar -->
                       <img src="src/assets/img/entreprise1.png" class="" width="50" height="50" draggable="false"/>
                </div>
              </a>
              </li>
              <li><a href="sass.html" style="color: black">Sass</a></li>
              <li><a href="badges.html">Components</a></li>
            </ul>
          </div>
        </nav>
    </div>
</div>




